{% extends 'todoapp/base.html' %}
{% block title %}Delete Task{% endblock %}


{% block headlinks %} 

<style>



</style>
{% endblock %}
{% block content %}



    <form action="" method="post" class="mx-auto bg-slate-200 border px-5 py-2 pt-5 rounded-xl">

        {% csrf_token %}
        <div class="text-neutral-800 text-center text-2xl" > Delete Task</div>

        <div class="grid grid-rows-1 grid-flow-col gap-1 "> 
            <div class="row-start-1 row-span-1 ">
                <div class="pt-6 text-neutral-800 text-center text-xs" > 
                    Are you sure you want to delete the following task: 
                    <div class="bg-sky-50 mt-6 mb-6 pt-10 pb-16"> 
                        <p style="font-style:italic " class="text-lg">
                        {{ taskDescription }}
                        </p>
                    </div>
                </div>
            </div>
        </div>


        <div class="flex ">
            <input type="submit" name="submit-deletion" value="Yes" class="m-auto bg-red-600 px-10 py-2 text-white text-2xl rounded">
        </div>
 
        
        <div class="flex pt-2 pb-2">
            <input type="submit" name="cancel-deletion" value="Cancel" class="m-auto bg-[#0a97bb] px-4 py-2 text-white text-2xl rounded">
        </div>

 


    </form>

{% endblock %}