{% extends 'todoapp/base.html' %}
{% block title %}Edit Task {% endblock %}


{% block headlinks %} 

<style>
    @import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
    
    .revalia {font-family: 'Revalia', cursive;}
    .creepster{ font-family: 'Creepster', cursive} ;

</style>
{% endblock %}
{% block content %}



    <!--<form action="" method="post" class=" border mx-auto max-w-lg bg-slate-50 pt-10 pb-5 p-10">-->
    <form action="" method="post" class="mx-auto bg-[#ffffff] border px-5 py-2 bg-slate-200 border pt-5 rounded-xl">

        {% csrf_token %}
        <div class="text-center creepster text-6xl text-neutral-800" > Update Task</div>
        {{ form.task_description }}


        <div class="grid grid-rows-1 grid-flow-col gap-1 "> 
            <div class="row-start-1 row-span-1 "><div class="text-center text-l text-neutral-800 align-middle" > Task Complete</div></div>
            <div class="row-start-1 row-span-1 ">  <div class="">{{ form.task_complete }}</div></div>
            <div class="row-start-1 row-span-1 "><div class=" text-center  text-red-400" >Classified</div></div>
        </div>




        
        <input type="submit" name="submit" value="Submit" class="bg-[#0a97bb] text-3xl creepster text-white px-5 py-5 mt-10 mb-3 w-full rounded">
    </form>

{% endblock %}