{% extends 'todoapp/base.html' %}
{% block title %}Edit Task {% endblock %}


{% block headlinks %} 

<style>




</style>
{% endblock %}
{% block content %}



    <form action="" method="post" class="mx-auto bg-slate-200 border px-3 py-2 pt-5 rounded-xl">

        {% csrf_token %}
        <div class="text-neutral-800 text-center text-2xl" > Update Task</div>
        <div class="pt-6 text-neutral-800 text-center text-xs" > Edit this task in the box below: </div>
        {{ form.task_description }}


        <div class="flex flex-row justify-center gap-5"> 
            <div class="basis-1/2"> <div class="text-neutral-800 text-center text-l" > Task Complete</div></div>
            <div class="basis-1/2"> <div class="text-neutral-800 text-center text-l" > Private Task</div></div>
        </div>


        <div class="flex">
            <div class="m-auto">
                    <div class="">{{ form.task_complete }}</div>    
            </div>
            <div class="m-auto">
                <div class="">{{ form.task_is_private }}</div>    
            </div>
        </div>


        <div class="flex mt-10 mb-6">
            <input type="submit" name="submit" value="Submit" class="m-auto bg-[#0a97bb] px-4 py-2 text-white text-2xl rounded">
        </div>
    </form>

{% endblock %}